/*----------Grunddesign----------*/
* {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    /*    position: relative;
    */
}

p {
    color: black;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Metal Mania', cursive;
    color: black;
    font-size: 2.5rem;
    opacity: 100%;
    letter-spacing: 1.8px;
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 20px;
}



.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: auto;
}

/*---------Header design---------*/
a {
    visibility: visible;
    text-decoration: none;

}

header {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 4rem;
    text-align: right;
    font-weight: 400;
    font-size: 0.8rem;
}


header nav a {

    font-size: 1.2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.header nav a:hover {
    color: lightgray;
}

.header ul {
    margin: 0;
    padding-right: 20px;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover {}



/*
.header .logo {
    float: left;
    position: relative;
    background-image: url(img/logo/NW_Logo_big_1920px.jpg);
    width: 5vw;
    height: 3vw;
}
*/


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all .2s ease-out;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
    transition: all .2s ease-out;
}

.header .menu-btn {
    display: none;

}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*
@media only screen and (min-width:800px) {

    .header {
        text-align: center;
        padding-right: 20vw;
        background-color: white;

    }

    .header ul {
        padding-right: 500px;
        background-color: white;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 10px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        align-content: center;
    }

    .header .menu-icon {
        display: none;
    }*/

/*
    .header .logo {
        float: left;
        position: relative;
        background-size: cover;
        background-image: url(img/logo/NW_Logo_big_1920px.jpg);
        width: 173px;
        height: 71px;
        padding-left: 250px;
        z-index: 10;
    }
*/

/*---------Header design SLUT---------*/


/*----------forside design------------*/

#splash img {
    /*        position: fixed;
        */
    /*        opacity: 70%;
        */
    z-index: 1;
    margin: 0;
}


#splash h1 {
    font-family: 'Metal Mania', cursive;
    color: black;
    font-size: 5rem;
    opacity: 100%;
    letter-spacing: 1.8px;
    position: absolute;
    top: 200px;
    left: 400px;
    z-index: 2;
}

#splash p {
    font-family: 'Roboto', sans-serif;
    color: #A25F67;
    font-size: 3.5rem;
    opacity: 100%;
    letter-spacing: 1.8px;
    position: absolute;
    top: 300px;
    left: 800px;
    z-index: 2;

}



.col_logo {
    background-image: url(logo%20copy.png);
    width: 50%;
    height: 50%;
    position: absolute;
    background-size: cover;
    top: 200px;
    left: 350px;

}


.scroll {
    position: relative;
    display: flex;
    overflow: scroll;

    align-items: flex-end;
    top: -30px;

}

.scroll div img {

    margin-top: 80px;
    margin-right: 90px;
    object-fit: cover;
}


.book_web img {
    position: relative;
    background-size: cover;
    width: 30vw;
    height: 40vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);
    margin-left: 80px;

}

.book_ux img {
    background-size: cover;
    width: 30vw;
    height: 40vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

.book_ani img {
    background-size: cover;
    width: 30vw;
    height: 40vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

.book_indhold img {
    background-size: cover;
    width: 30vw;
    height: 40vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

.book_cv img {
    background-size: cover;
    width: 30vw;
    height: 40vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

/*----------forside design slut------------*/

/*----------web site design------------*/

#web {
    max-width: 1200px;
    background-color: white;
}

#web .sectionwrapper {

    display: flex;
    flex-wrap: wrap;
/*    margin: 0 auto;
    */

}

#web .col {
    flex-grow: 1;
    flex-basis: 500px;
/*
    margin-left: 5px;
    margin-right: 5px;
*/
/*    padding: 1rem;
    */
}

/*----------web site design------------*/
